RewriteEngine On

RewriteRule ^maintenance(|/)$ files/cms/index/maintenance.php

RewriteRule ^(|/)$ files/cms/index/index.php
RewriteRule ^index(|/)$ files/cms/index/index.php
RewriteRule ^register(|/)$ files/cms/index/register.php
RewriteRule ^logout(|/)$ files/cms/others/logout.php

RewriteRule ^me(|/)$ files/cms/me/me.php
RewriteRule ^settings/email(|/)$ files/cms/me/settings_email.php
RewriteRule ^settings/password(|/)$ files/cms/me/settings_password.php
RewriteRule ^settings(|/)$ files/cms/me/settings_others.php
RewriteRule ^article(|/)$ files/cms/articles/article.php

RewriteRule ^client(|/)$ files/cms/client/index.php
RewriteRule ^html5(|/)$ files/cms/client/index_beta.php

RewriteRule ^community(|/)$ files/cms/community/community.php
RewriteRule ^community/staff(|/)$ files/cms/community/staff.php
RewriteRule ^community/colab(|/)$ files/cms/community/colaboracao.php
RewriteRule ^hall(|/)$ files/cms/community/fama.php
RewriteRule ^shop/buy(|/)$ files/cms/shop/vip.php
RewriteRule ^community/vips(|/)$ files/cms/shop/vips.php

RewriteRule ^hall/economy(|/)$ files/cms/community/fama.php
RewriteRule ^hall/activity(|/)$ files/cms/community/fama-atv.php

RewriteRule ^article/(..*)(|/)$ files/cms/articles/article.php?article_id=$1
RewriteRule ^article(|/)$ files/cms/articles/article.php
RewriteRule ^articles(|/)$ files/cms/articles/article.php

# Others
#RewriteRule ^reset-password(|/)$ files/cms/others/reset-password.php

RewriteRule ^new-password/([a-zA-Z0-9]+)(|/)$ files/cms/others/reset-password.php?reset_key=$1

# Regras do Painel

RewriteRule ^panel/logout(|/)$ files/painel/logout.php
RewriteRule ^panel(|/)$ files/painel/files/navigation/index.php
RewriteRule ^panel/index(|/)$ files/painel/files/navigation/index.php

RewriteRule ^panel/home(|/)$ files/painel/files/navigation/home.php
RewriteRule ^panel/news-forms(|/)$ files/painel/files/navigation/news-forms.php
RewriteRule ^panel/article/create(|/)$ files/painel/files/navigation/create-article.php
RewriteRule ^panel/article/(..*)/edit(|/)$ files/painel/files/navigation/edit-article.php?article_id=$1
RewriteRule ^panel/articles/(..*)(|/)$ files/painel/files/navigation/articles.php?user=$1
RewriteRule ^panel/host-badge(|/)$ files/painel/files/navigation/host-badge.php
RewriteRule ^panel/hall-points(|/)$ files/painel/files/navigation/hall-points.php
RewriteRule ^panel/bans(|/)$ files/painel/files/navigation/bans.php
RewriteRule ^panel/add-pin(|/)$ files/painel/files/navigation/add-pin.php
RewriteRule ^panel/give-rank(|/)$ files/painel/files/navigation/give-rank.php
RewriteRule ^panel/add-furniture(|/)$ files/painel/files/navigation/add-furni.php
RewriteRule ^panel/create-page(|/)$ files/painel/files/navigation/create-page.php
RewriteRule ^panel/campaigns/(..*)(|/)$ files/painel/files/navigation/campaigns.php?user=$1
RewriteRule ^panel/campaign/(..*)/edit(|/)$ files/painel/files/navigation/edit-campaign.php?article_id=$1
RewriteRule ^panel/create-page/delete/([a-zA-Z0-9_-]+)(|/)$ api/actions/deletePage.php?delete=$1
RewriteRule ^panel/edit-user(|/)$ files/painel/files/navigation/edit-user.php
RewriteRule ^panel/user/([.,a-zA-Z0-9_-]+)(|/)$ files/painel/files/navigation/user.php?user=$1
RewriteRule ^panel/send-vip(|/)$ files/painel/files/navigation/send-vip.php
RewriteRule ^panel/reset-hall(|/)$ files/painel/files/navigation/reset-hall.php
RewriteRule ^panel/logs-painel(|/)$ files/painel/files/navigation/logs-panel.php
RewriteRule ^panel/logs-changenick(|/)$ files/painel/files/navigation/logs-changenick.php
RewriteRule ^panel/uploaded-badges(|/)$ files/painel/files/navigation/uploaded-badges.php
RewriteRule ^panel/article/(..*)/forms(|/)$ files/painel/files/navigation/news-forms.php?article_id=$1
RewriteRule ^panel/passwords(|/)$ files/painel/files/navigation/passwords.php
RewriteRule ^panel/view-fakes(|/)$ files/painel/files/navigation/view-fakes.php
RewriteRule ^panel/chatlogs(|/)$ files/painel/files/navigation/chatlogs.php

RewriteRule ^panel/view-fakes/([.,a-zA-Z0-9_-]+)(|/)$ files/painel/files/navigation/view-fakes.php?user=$1


ErrorDocument 404 /files/cms/others/error.php

# API

RewriteRule ^api/login(|/)$ api/actions/login.php
RewriteRule ^api/register(|/)$ api/actions/register.php
RewriteRule ^api/reaction(|/)$ api/actions/reaction.php
RewriteRule ^api/panel(|/)$ api/panel.php
RewriteRule ^tags/delete/([a-zA-Z0-9_-]+)(|/)$ api/actions/deleteTags.php?delete=$1
RewriteRule ^api/client(|/)$ api/actions/client.php
RewriteRule ^api/form(|/)$ api/actions/form.php
RewriteRule ^api/badge(|/)$ api/actions/badge.php
RewriteRule ^api/settings(|/)$ api/actions/settings.php
RewriteRule ^api/tags(|/)$ api/actions/tags.php
RewriteRule ^api/reset-password(|/)$ api/actions/reset-password.php
RewriteRule ^api/radio(|/)$ api/radio.php


RewriteRule ^api/online(|/)$ api/get/online.php
RewriteRule ^api/newsIndex(|/)$ api/get/newsIndex.php
RewriteRule ^api/hall/diamonds(|/)$ api/get/HallOfFame/getHallDiamonds.php
RewriteRule ^api/hall/duckets(|/)$ api/get/HallOfFame/getHallDuckets.php
RewriteRule ^api/hall/crazzies(|/)$ api/get/HallOfFame/getHallCrazzies.php
RewriteRule ^api/hall/events(|/)$ api/get/HallOfFame/getHallEvents.php
RewriteRule ^api/hall/promotions(|/)$ api/get/HallOfFame/getHallPoints.php



# Painel radio
RewriteRule ^login/?$ painelcrazzy/login.php
RewriteRule ^inicio/?$ painelcrazzy/index.php
RewriteRule ^deslogar/?$ painelcrazzy/index.php?deslogar
RewriteRule ^pagina/([a-z0-9_]+)/desmarcar/([0-9]+)/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=desmarcar&dia=$2&hora=$3
RewriteRule ^pagina/([a-z0-9_]+)/marcar/([0-9]+)/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=marcar&dia=$2&hora=$3
RewriteRule ^pagina/([a-z0-9_]+)/apagar/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=apagar&id=$2
RewriteRule ^pagina/([a-z0-9_]+)/editar/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=editar&id=$2
RewriteRule ^pagina/([a-z0-9_]+)/adicionar/([0-9]+)/editar/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=adicionar&cargo_id=$2&pag_id=$3
RewriteRule ^pagina/([a-z0-9_]+)/adicionar/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&tipo=adicionar&cargo_id=$2
RewriteRule ^pagina/([a-z0-9_]+)/criar/?$ painelcrazzy/index.php?diretorio=$1&tipo=criar
RewriteRule ^pagina/([a-z0-9_]+)/dia/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&dia=$2
RewriteRule ^pagina/([a-z0-9_]+)/lista/([0-9]+)/?$ painelcrazzy/index.php?diretorio=$1&pagina=$2
RewriteRule ^pagina/([a-z0-9_]+)/?$ painelcrazzy/index.php?diretorio=$1
