<?xml version="1.0" encoding="utf-8"?>  
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<rule name="rule 1J">
					<match url="^maintenance(|/)$"  />
					<action type="Rewrite" url="/files/index/maintenance.php"  />
				</rule>
				<rule name="rule 2J">
					<match url="^(|/)$"  />
					<action type="Rewrite" url="/files/index/index.php"  />
				</rule>
				<rule name="rule 3J">
					<match url="^index(|/)$"  />
					<action type="Rewrite" url="/files/index/index.php"  />
				</rule>
				<rule name="rule 4J">
					<match url="^registerjlvrtdrtldvgrtjdvgrt(|/)$"  />
					<action type="Rewrite" url="/files/index/register.php"  />
				</rule>
				<rule name="rule 5J">
					<match url="^logout(|/)$"  />
					<action type="Rewrite" url="/files/others/logout.php"  />
				</rule>
				<rule name="rule 6J">
					<match url="^me(|/)$"  />
					<action type="Rewrite" url="/files/me/me.php"  />
				</rule>
				<rule name="rule 7J">
					<match url="^client(|/)$"  />
					<action type="Rewrite" url="/files/client/client.php"  />
				</rule>
				
				<rule name="API - Login">
					<match url="^api/login(|/)$"  />
					<action type="Rewrite" url="/api/actions/login.php"  />
				</rule>
				<rule name="API - Registro">
					<match url="^api/register(|/)$"  />
					<action type="Rewrite" url="/api/actions/register.php"  />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>