.button,.button span{display:inline-block;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}.button{white-space:nowrap;
line-height:1em;position:relative;
outline:none;overflow:visible;
cursor:pointer;border:1px solid #999;
border:rgba(0,0,0,.2) 1px solid;
border-bottom:rgba(0,0,0,.4) 1px solid;
-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);
box-shadow:0 1px 2px rgba(0,0,0,.2);
background:-moz-linear-gradient(center top,rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);
background:-webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,.1)),to(rgba(255,255,255,.1)));
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000');
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";
-moz-user-select:none;
-webkit-user-select:none;
-khtml-user-select:none;
user-select:none;
margin-bottom:10px;
}.button.full,.button.full span{display:block;
}.button:hover,.button.hover{background:-moz-linear-gradient(center top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1) 100%);
background:-webkit-gradient(linear,center bottom,center top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.2)));
filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF');
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";
}.button:active,.button.active{top:1px;
}.button span{position:relative;
color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.25);
border-top:rgba(255,255,255,.2) 1px solid;
padding:0.6em 1.3em;
line-height:1em;
text-decoration:none;
text-align:center;
white-space:nowrap;
}.button.small span{font-size:12px;
}.button.medium span{font-size:14px;
}.button.large span{font-size:18px;
}.button.black{background-color:#333333;
}.button.gray{background-color:#666666;
}.button.white{background-color:#FFFFFF;
}.button.white span{color:#666666;
}.button.red{background-color:#e62727;
}.button.orange{background-color:#ff5c00;
}.button.magenta{background-color:#A9014B;
}.button.yellow{background-color:#ffb515;
}.button.newblue{background-color:#2764E6;
}.button.pink{background-color:#e22092;
}.button.green{background-color:#91bd09;
}.button.rosy{background-color:#F16C7C;
}.button.brown{background-color:#804000;
}.button.purple{background-color:#800080;
}.button.cyan{background-color:#46C7C7;
}.button.gold{background-color:#D4A017;}

.green-button-1,
.green-button-2,
.gray-button-1,
.purple-button-1,
.blue-button-1 {
    position: relative;
    border-radius: 4px;
    display: flex;
}

.green-button-1::before,
.green-button-2::before,
.gray-button-1::before,
.purple-button-1::before,
.blue-button-1::before {
    content: "";
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 0;
    left: 0;
    border-radius: 3px 3px 0px 0px;
    margin: 5px;
}

/* Botão grande verde */

.green-button-1::before {
    background: linear-gradient(rgb(98, 196, 82) 50%, transparent 50%);
}

.green-button-1 {
    background: rgb(88, 176, 62);
    border: 1px solid rgb(77, 152, 54);
}

.green-button-1:hover:before {
    background: linear-gradient(rgb(118, 203, 103) 50%, transparent 50%);
}

.green-button-1:hover {
    background: rgb(97, 190, 69);
    cursor: pointer;
}

.green-button-1:active:before {
    background: linear-gradient(rgb(96, 193, 80) 50%, transparent 50%);
}

.green-button-1:active {
    background: rgb(89, 179, 62);
}

.green-button-2::before {
    background: linear-gradient(rgb(112, 196, 110) 50%, transparent 50%);
}

.green-button-2 {
    background: rgb(89, 186, 86);
    border: unset;
}

.green-button-2:hover {
    background: rgb(104, 193, 102);
}

.green-button-2:hover:before {
    background:  linear-gradient(rgb(125, 202, 124) 50%, transparent 50%);
}

.green-button-2:active {
    background: rgb(85, 175, 82);
}

.green-button-2:active:before {
    background:  linear-gradient(rgb(92, 189, 89) 50%, transparent 50%);
}

/* Botão grande cinza */

.gray-button-1::before {
    background: linear-gradient(rgb(227, 225, 225) 50%, transparent 50%);
}

.gray-button-1 {
    background: rgb(210, 208, 208);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 1px rgb(0, 0, 0);
    margin: 0 0 1px 0;
}

.gray-button-1:hover:before {
    background: linear-gradient(rgb(236, 234, 234) 50%, transparent 50%);
}

.gray-button-1:hover {
    background: rgb(216, 214, 214);
    cursor: pointer;
}

.gray-button-1:active:before {
    background: linear-gradient(rgb(219, 215, 215) 50%, transparent 50%);
}

.gray-button-1:active {
    background: rgb(201, 197, 197);
}

/* Botão roxo escuro */

.purple-button-1::before {
    background: linear-gradient(rgb(129, 74, 168) 50%, transparent 50%);
}

.purple-button-1 {
    background: rgb(104, 60, 136);
    border: 1px solid rgb(87, 50, 114);
}

.purple-button-1:hover:before {
    background: linear-gradient(rgb(145, 92, 184) 50%, transparent 50%);
}

.purple-button-1:hover {
    background: rgb(121, 70, 159);
    cursor: pointer;
}

.purple-button-1:active:before {
    background: linear-gradient(rgb(125, 72, 162) 50%, transparent 50%);
}

.purple-button-1:active {
    background: rgb(99, 57, 130);
}

/* Botão azul */

.blue-button-1::before {
    background: linear-gradient(rgb(86, 145, 192) 50%, transparent 50%);
}

.blue-button-1 {
    background: rgb(62, 121, 169);
    border: 1px solid rgb(57, 112, 155);
}

.blue-button-1:hover:before {
    background: linear-gradient(rgb(91, 154, 204) 50%, transparent 50%);
}

.blue-button-1:hover {
    background: rgb(73, 137, 189);
    cursor: pointer;
}

.blue-button-1:active:before {
    background: linear-gradient(rgb(82, 139, 184) 50%, transparent 50%);
}

.blue-button-1:active {
    background: rgb(60, 116, 162);
}

/* Botão grande amarelo */

.yellow-button-1::before {
    background: linear-gradient(rgb(255, 204, 70) 50%, transparent 50%);
}

.yellow-button-1 {
    background: rgb(255, 185, 0);
    border: 1px solid rgb(236, 171, 0);
}

.yellow-button-1:hover:before {
    background: linear-gradient(rgb(255, 209, 90) 50%, transparent 50%);
}

.yellow-button-1:hover {
    background: rgb(255, 193, 29);
    cursor: pointer;
}

.yellow-button-1:active:before {
    background: linear-gradient(rgb(240, 192, 67) 50%, transparent 50%);
}

.yellow-button-1:active {
    background: rgb(243, 177, 0);
}

.green-button-1 label,
.green-button-2 label,
.gray-button-1 label,
.purple-button-1 label,
.blue-button-1 label,
.yellow-button-1 label {
    pointer-events: none;
}